/* Underline From Center Home Page*/
.hvr-underline-from-center-home {
    display: inline-block;
    vertical-align: middle;
    background: rgb(127, 0, 177);
    color: white;
    padding: 3%;
    text-decoration: none;
    text-align: center;
    text-size-adjust: auto;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  
  .hvr-underline-from-center-home:link {
    text-decoration: none;
    color: white;
  }
  .hvr-underline-from-center-home:visited {
    text-decoration: none;
    color: white;
  }
  
  .hvr-underline-from-center-home:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: rgb(255, 255, 255);
    height: 10%;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center-home:hover:before, .hvr-underline-from-center-home:focus:before, .hvr-underline-from-center-home:active:before {
    left: 0;
    right: 0;
    background: rgb(255, 255, 255);
  }

  @media screen and (min-width: 500px) {
    .hvr-underline-from-center-home {
      font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
  }
  @media screen and (min-width: 1000px) {
    .hvr-underline-from-center-home {
      font-size: 25px;
    }
  }