.nav-pills>li>a.active {
    background-color: black !important;
    color: white !important;
}

.nav-pills>li>a:hover {
    color: black !important;
}

.nav-link-color {
    color: black;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
    filter: invert(100%);
}

/* should be a better way to limit size */
.carousel-item>* {
    /* width: auto;
            height: auto;
            max-width: inherit;
            object-fit: cover;
            margin: auto;  */
    max-height: 300px;
}

.fa-star {
    color: #f7aa31;
}

/* add comment */
.pb-cmnt-container {
    font-family: Lato;
}

.pb-cmnt-textarea {
    resize: none;
    padding: 20px;
    width: 100%;
    border: 1px solid #F2F2F2;
}