html,
body {
    overflow-x: hidden;
}

.offcanvas-collapse {
    position: absolute;
    top: 50%;
    right: 100%;
    left: -300px;
    width: 18em;
    height: 30em;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #dcdcdc;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
    z-index: 999;
    
}

@media (max-width: 770px){
    .offcanvas-collapse {
        top:80%;  
    }
}

.offcanvas-collapse {
    align-items: start;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    border-right: 5px solid rgba(0, 0, 0, 0.2);

}

.offcanvas-collapse.open {
    left: 0;
    visibility: visible;
}

.navbar-expand-lg .navbar-nav {
    -ms-flex-direction: column;
    flex-direction: column;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
    color: #6c757d;
}

.nav-underline .nav-link:hover {
    color: #007bff;
}

.nav-underline .active {
    font-weight: 500;
    color: #343a40;
}